* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.3s ease-in;
  /* background-color: var(--background-color); */
}

.card-height {
  min-height: 350px;
}

:root {
  --main-color: #0dcaf0;
  --font-color: #212529;
  --background-color: #f8f9fa;
  --background-color-lighter: #fff;
  --card-header-color: #f0f1f2;
  --card-body-color: #f8f9fa;
}

[data-theme="dark"] {
  --font-color: #f8f9fa;
  --background-color: #212529;
  --background-color-lighter: #333;
  --card-header-color: #202428;
  --card-body-color: #212529;
}

.my-background {
  background-color: var(--background-color);
  color: var(--font-color);
}

.my-card-header {
  background-color: var(--card-header-color);
  color: var(--font-color);
}

.my-card-body {
  background-color: var(--card-body-color);
  color: var(--font-color);
}

.my-background-lighter {
  background-color: var(--background-color-lighter);
  color: var(--font-color);
}

.my-text {
  color: var(--font-color);
  transition: color 0.3s ease-in;
}

.my-text:hover {
  color: var(--main-color);
}

.my-text:active,
.my-text:visited,
.my-text:focus {
  color: var(--font-color);
}
